
footer {
    background: #153B67;

    div {
        width: fit-content;
        margin: auto;
        padding: 15px 0 10px 0;
    }

    .socialIcons {
        color: white;
        margin: 3px;
    }

    h3 {
        width: fit-content;
        margin: auto;
        color: white;
        padding-bottom: 10px;
        font-size: 15px;
    }
}